DEBUG=boolean_value
SECRET_KEY=your_secret_key
JWT_SIGNING_KEY=jwt_signing_key
EMAIL_HOST=email_host
EMAIL_PORT=email_port
CELERY_BROKER_URL=celery_broker_url
CELERY_RESULT_BACKEND = celery_broker_url_to_access_result_of_tasks
DB_NAME=db_name
DB_USER=db_username
DB_PASSWORD=db_password
UID=id -u #host system id
GID=id -g #host-system group id