DEBUG=boolean_value
DJANGO_SETTINGS_MODULE=settings-module-path
PORT=django-server-port #8000 for local dev
SECRET_KEY=your_secret_key
JWT_SIGNING_KEY=jwt_signing_key
EMAIL_HOST=email_host
EMAIL_PORT=email_port
EMAIL_HOST_USER=email-host-user  # in production
EMAIL_HOST_PASSWORD=email-host-pass  # in production
EMAIL_USE_TLS=email-tls  # in production True
EMAIL_USE_SSL=email-ssl # False
EMAIL_SENDER=email-sender # in production
CELERY_BROKER_URL=celery_broker_url
CELERY_RESULT_BACKEND = celery_broker_url_to_access_result_of_tasks
DB_NAME=db_name
DB_USER=db_username
DB_PASSWORD=db_password
UID=id -u #host system id
GID=id -g #host-system group id
CLOUDINARY_CLOUD_NAME=your-cloud-name # cloudinary free in production
CLOUDINARY_API_SECRET=api-secret  # in production
CLOUDINARY_API_KEY=api-key  # in production