DEBUG=True
DJANGO_SETTINGS_MODULE=job_board.settings.dev
PORT=django-server-port #8000 for local dev
SECRET_KEY=your_secret_key # import secrets; secrets.token_urlsafe(32)
JWT_SIGNING_KEY=jwt_signing_key # import secrets; secrets.token_urlsafe(32)
EMAIL_HOST=email_host # local -> localhost
EMAIL_PORT=email_port # local -> 25
EMAIL_HOST_USER=email-host-user  # in production
EMAIL_HOST_PASSWORD=email-host-pass  # in production
EMAIL_USE_TLS=email-tls  # in production True
EMAIL_USE_SSL=email-ssl # False
EMAIL_SENDER=email-sender # in production
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND = redis://redis:6379/0
DB_NAME=db_name
DB_USER=db_username
DB_PASSWORD=db_password
UID=id # id -u (host system id)
GID=id # id -g (host system group id)
CLOUDINARY_CLOUD_NAME=your-cloud-name # cloudinary free in production
CLOUDINARY_API_SECRET=api-secret  # in production
CLOUDINARY_API_KEY=api-key  # in production
REDIS_URL=redis://redis:6379/0