{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block title %}
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
</head>

<body class="bg-gray-100 min-h-screen flex flex-col">
    <img id="grab_bookmark_white" src="{% static 'image/bookmark_white.png' %}" alt="bookmark_white" hidden>
    <img id="grab_bookmark_black" src="{% static 'image/bookmark_black.png' %}" alt="bookmark_black" hidden>
    <img id="grab-add-img" src="{% static 'image/add.png' %}" alt="add-image" hidden>
    <img id="grab-minus-img" src="{% static 'image/minus.png' %}" alt="minus-image" hidden>
    <img id="grab-edit-img" src="{% static 'image/edit.png' %}" alt="edit-image" hidden>
    <img id="grab-edit2-img" src="{% static 'image/edit2.png' %}" alt="edit2-image" hidden>
    <img id="grab-delete-img" src="{% static 'image/delete.png' %}" alt="delete-image" hidden>
    

    <!-- Navbar -->
    <header class="bg-white shadow">
        <nav class="max-w-7xl mx-auto px-6 py-4 flex justify-between items-center">
            <a href="{% url 'home' %}" class="block text-xl font-bold text-blue-600">CareerZ</a>
            <div class="flex items-center gap-6 text-sm font-medium text-gray-700">
                <a href="{% url 'my_jobs' %}" class="hover:text-blue-600">My Jobs</a>
                {% if request.user.role == 'CA' %}
                <a href="{% url 'candidate_profile' %}" class="hover:text-blue-600">Profile</a>
                {% endif %}
                {% if request.user.role == 'RE' %}
                <a href="#" class="hover:text-blue-600">Profile</a>
                {% endif %}
                <span class="font-semibold">{{ username }}</span>
            </div>
        </nav>
    </header>

    <!-- Main Content -->
    {% block main %}
    {% endblock %}

    <!-- Footer -->
    <footer class="bg-white border-t mt-6">
        <div class="max-w-7xl mx-auto px-6 py-4 text-center text-sm text-gray-500">
            © 2026 Careerz. All rights reserved.
        </div>
    </footer>
    <!-- Modal message -->               
    <div id="message" class="relative hidden">
        <div class="fixed top-[5%] left-[20%] p-6 border-2 rounded w-[60%] md:w-[60%]">
            <div id="messageContent" class="flex flex-wrap gap-2"></div>
        </div>
    </div>
    <script type="module" src="{% static 'js/main.js' %}"></script>
    {% block script %}
    {% endblock %}
</body>

</html>